<section>
    <section>
        <h1>Find a job</h1>
        <div>
            <form>
                <div>
                    <label for="">Company Title:</label>
                    <input required type="text" name="company" placeholder="McDonalds...">
                </div>
                <div>
                    <label for="">Job Title:</label>
                    <input required type="text" name="jobTitle" placeholder="Chef...">
                </div>
                <div>
                    <label for="">Hours:</label>
                    <input required type="number" name="hours">
                </div>
                <div>
                    <label for="">Rate:</label>
                    <input type="text" name="rate">
                </div>
                <div>
                    <label for="">Description</label>
                    <textarea name="description" id="" cols="50" rows="4"></textarea>
                </div>
                <button>Post</button>
            </form>
        </div>
        <div id="jobs-view"></div>
    </section>
</section>